<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="Styles/Weather.css" />
    <title>ابة نيو</title>
  </head>
  <body class="bg-black text-white">
    <div
      v-if="isFetched"
      id="vue"
      :style="`background: url(${selectBackground(weatherResponse.current.condition.text)})`"
      class="transition-all ease-in duration-700"
    >
      <h1
        class="xl:fixed top-12 left-12 xl:border-white xl:border-4 xl:rounded-lg xl:p-2 xl:text-6xl bg-black backdrop-blur-lg backdrop-opacity-20 p-4 bg-opacity-80 text-center text-4xl font-bold underline decoration-3 underline-offset-4 decoration-lime-600"
      >
        Iraq Weather
      </h1>
      <!-- Dropdown Menu  Start -->
      <div class="flex flex-col items-center text-center my-6 xl:hidden">
        <button
          @click="activateDropdown()"
          data-dropdown-toggle="dropdown"
          class="text-white border-4 bg-black rounded-lg backdrop-blur-lg backdrop-opacity-60 bg-opacity-80 hover:bg-opacity-60 font-medium text-lg px-6 sm:px-10 transition-all duration-500 py-2.5 inline-flex items-center"
          type="button"
        >
          {{weatherResponse.location.name}}
          <svg
            class="w-4 h-4 ml-2"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>
        <div
          v-show="activateCityDropdown"
          id="dropdown"
          :class="`mt-2    bg-neutral-900 divide-y divide-gray-100 rounded-lg shadow w-80`"
        >
          <ul
            class="h-48 py-1 overflow-y-auto text-sm text-center text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefaultButton"
          >
            <li
              v-for="city in cities"
              class="border-white border-b border-opacity-30"
              @click="searchForWeather(city)"
            >
              <button class="text-lg font-bold m-2">{{city}}</button>
            </li>
          </ul>
        </div>
      </div>

      <!-- Dropdown Menu  End -->
      <div
        class="xl:grid xl:grid-cols-5 xl:grid-rows-2 h-full flex flex-col items-center justify-center"
      >
        <div
          class="xl:col-span-3 xl:mx-40 p-3 border-4 shadow xl:mb-0 xl:p-2 xl:flex xl:flex-col xl:justify-center xl:items-center bg-black rounded-lg backdrop-blur-lg backdrop-opacity-60 bg-opacity-20"
        >
          <p class="xl:text-4xl text-teal-400 text-center font-bold text-3xl">
            Now
          </p>
          <div
            class="xl:flex xl:flex-row xl:gap-0 xl:p-0 grid grid-cols-7 gap-4 sm:gap-8 sm:px-8 transition-all duration-500 items-center justify-items-center"
          >
            <div class="col-span-2 flex flex-row mr-4 items-start">
              <p class="xl:text-7xl text-3xl font-medium">
                {{Math.round(weatherResponse.current.temp_c)}}
              </p>
              <p class="text-2xl font-bold">o</p>
            </div>
            <div class="col-span-3 flex flex-col items-center">
              <p class="xl:text-5xl font-bold text-3xl">
                {{weatherResponse.location.name}}
              </p>
              <p class="xl:text-xl font-medium">
                {{weatherResponse.location.localtime}}
              </p>
            </div>
            <div class="xl:ml-6 col-span-2 flex flex-col items-center">
              <img
                class=""
                :src="weatherResponse.current.condition.icon"
                alt=""
              />
              <p class="xl:text-2xl -mt-2 font-medium">
                {{weatherResponse.current.condition.text}}
              </p>
            </div>
          </div>
        </div>

        <div
          class="xl:row-span-2 xl:col-span-2 xl:h-screen xl:backdrop-blur-lg xl:backdrop-opacity-100 xl:flex xl:flex-col xl:items-center xl:justify-center"
        >
          <ul
            class="hidden xl:block font-medium bg-black pl-6 py-5 pr-40 rounded-lg bg-opacity-50"
          >
            <li v-for="city in cities" class="" @click="searchForWeather(city)">
              <button class="xl:text-3xl font-bold">{{city}}</button>
            </li>
          </ul>
          <div>
            <ul
              class="xl:text-3xl text-lg font-semibold border-y-4 rounded-lg shadow-lg p-2 mt-4"
            >
              <li>
                <h2
                  class="xl:text-3xl px-16 sm:px-28 transition-all duration-500 text-2xl font-bold"
                >
                  Weather Details
                </h2>
              </li>
              <li class="flex flex-row justify-between">
                <h3>Cloudy</h3>
                <p>{{weatherResponse.current.cloud}}%</p>
              </li>
              <li class="flex flex-row justify-between">
                <h3>Humidity</h3>
                <p>{{weatherResponse.current.humidity}}%</p>
              </li>
              <li class="flex flex-row justify-between">
                <h3>Wind</h3>
                <p>{{weatherResponse.current.wind_kph}}kp/h</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- forcast -->
        <div class="xl:col-span-3 xl:flex-row flex flex-col xl:justify-center">
          <div
            v-for="day in weatherResponse.forecast.forecastday"
            class="xl:flex xl:flex-col xl:px-2 xl:gap-0 grid grid-cols-6 sm:px-16 sm:gap-4 transition-all duration-500 items-center justify-items-center bg-black rounded-lg backdrop-blur-lg backdrop-opacity-80 p-2 bg-opacity-10 m-2"
          >
            <p class="xl:text-2xl col-span-2 font-bold text-teal-400">
              {{days[new Date(day.date).getDay()]}}
            </p>
            <div class="col-span-1 flex flex-row items-start">
              <p class="xl:text-5xl text-3xl font-medium">
                {{Math.round(day.day.maxtemp_c)}}
              </p>
              <p class="text-2xl font-bold">o</p>
            </div>
            <div
              class="xl:flex-col col-span-3 flex flex-row justify-center items-center"
            >
              <img class="" :src="day.day.condition.icon" alt="" />
              <p class="font-medium max-char-10 text-center">
                {{day.day.condition.text}}
              </p>
            </div>
          </div>
        </div>
        <!-- forcast -->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="js/Weather.js"></script>
  </body>
</html>
