<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="Styles/UI.css" />

    <title>Document</title>
  </head>
  <body class="text-white">
    <div id="vue">
      <!-- Block 1 -->

      <div
        v-show="showFav"
        class="w-56 flex flex-col items-center h-full bg-amber-300 rounded-lg z-10 fixed top-0 left-0"
      >
        <div v-for="(movie,index) in favoriteMovie" :key="index">
          <div
            class="flex flex-row m-5 hover:scale-125 transition ease-in-out rounded-lg"
          >
            <img
              @click="selectMovie(movie.imdbID)"
              :src="movie.Poster"
              alt=""
              class="h-40 object-cover rounded-lg row-span-5 mr-2"
            />
            <svg
              @click="setFavorite(movie)"
              class="w-9 group-hover:scale-150 transition ease-in-out hover:cursor-pointer fill-slate-400"
              :class="favoriteMovie.some(e => e.imdbID === movie.imdbID)?'fill-red-600 active:fill-slate-400':''"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- Search input -->
      <div class="flex flex-row m-auto justify-center mt-20 w-1/4 mb-4">
        <button
          class="m-auto text-black rounded-lg font-bold bg-amber-300 p-2"
          @click="favButtonToggler"
        >
          <span v-if="showFav">Hide Favorite</span>
          <span v-else>Show Favorite</span>
        </button>
        <div
          class="w-3/4 flex flex-row items-center rounded-lg bg-neutral-900 p-3"
        >
          <input
            @keyup.enter="input()"
            v-model="movieQuery"
            type="text"
            id="inputField"
            class="w-full bg-neutral-900 rounded-lg placeholder-white focus:outline-none"
            placeholder="Search for Movie or Series"
            required
          />
          <svg
            class="fill-white"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"
            />
          </svg>
        </div>
      </div>
      <!-- End End End -->
      <div class="grid grid-cols-7 place-items-center justify-items-center">
        <div class="m-2 justify-self-center col-span-3">
          <div class="flex flex-row items-center">
            <p class="mr-4">{{selectedMovie.Genre}}</p>
            <p class="mr-4">{{selectedMovie.Year}}</p>
            <p class="">{{selectedMovie.Rated}}</p>
          </div>
          <div class="flex flex-row items-center">
            <h3 class="text-4xl mr-1 my-2 title">{{selectedMovie.Title}}</h3>
            <div
              v-show="showButtons"
              class="bg-yellow-300 rounded-md p-2 text-black flex flex-row items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                />
              </svg>
              <p class="ml-2">{{selectedMovie.imdbRating}}</p>
            </div>
          </div>
          <div v-show="showButtons" class="flex flex-row">
            <button class="mr-4 bg-sky-500 px-4 py-3 rounded-lg">
              Continue
            </button>
            <button class="bg-slate-600 px-7 py-3 rounded-lg">Trailer</button>
          </div>
        </div>
        <!-- Movie result -->
        <!-- Black cards -->
        <div class="col-span-3">
          <div class="flex flex-col max-h-screen container">
            <div
              v-for="(movie,index) in movies"
              :key="index"
              @click="selectMovie(movie.imdbID)"
            >
              <div
                class="group grid grid-cols-6 m-5 hover:scale-125 transition ease-in-out bg-black rounded-lg hover:bg-white hover:text-black hover:cursor-pointer items-center"
              >
                <div
                  class="h-40 bg-cover rounded-l-lg col-span-2"
                  :style="`background-image: url(${movie.Poster})`"
                ></div>
                <div class="col-span-4 grid grid-cols-4 items-center">
                  <p class="mx-3 col-span-3">{{movie.Title}}</p>
                  <svg
                    @click="setFavorite(movie)"
                    class="w-9 group-hover:scale-150 transition ease-in-out hover:cursor-pointer fill-slate-400"
                    :class="favoriteMovie.some(e => e.imdbID === movie.imdbID)?'fill-red-600 active:fill-slate-400':''"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <button
            class="hover:bg-teal-800 p-2 rounded text-3xl"
            @click="page(index+1)"
            v-for="(_,index) in Array(pageCount).slice(0, 5)"
            :key="index"
          >
            {{index+1}}
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="/Project Charlo/js/Movies-v2-script.js"></script>
  </body>
</html>
