<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Project Charlo/Styles/Weather.css" />
    <title>Document</title>
  </head>
  <body class="bg-black text-white">
    <div
      v-if="isFetched"
      id="vue"
      :style="`background: url(${selectBackground(weatherResponse.current.condition.text)})`"
      class="grid grid-cols-5 transition-all ease-in duration-700"
    >
      <div class="col-span-3 justify-items-center">
        <div
          class="fixed top-12 left-12 border-white border-4 bg-black backdrop-blur-lg backdrop-opacity-20 p-2 bg-opacity-80 rounded-lg"
        >
          <h1
            class="text-6xl right-0 font-bold underline decoration-3 underline-offset-4 decoration-lime-600"
          >
            Iraq Weather
          </h1>
        </div>

        <div class="h-full flex flex-col items-center justify-center">
          <div
            class="mb-20 text-center bg-black rounded-lg backdrop-blur-lg backdrop-opacity-20 p-2 bg-opacity-10"
          >
            <p class="font-bold text-3xl">Now</p>
            <div class="flex flex-row items-center">
              <div class="flex flex-row mr-4 items-start">
                <p class="text-7xl font-medium">
                  {{Math.round(weatherResponse.current.temp_c)}}
                </p>
                <p class="text-4xl font-bold">o</p>
              </div>
              <div class="mr-4 flex flex-col items-center">
                <p class="font-bold text-3xl">
                  {{weatherResponse.location.name}}
                </p>
                <p class="font-medium">
                  {{weatherResponse.location.localtime}}
                </p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  class=""
                  :src="weatherResponse.current.condition.icon"
                  alt=""
                />
                <p class="-mt-2 font-medium">
                  {{weatherResponse.current.condition.text}}
                </p>
              </div>
            </div>
          </div>
          <!-- forcast -->
          <div class="flex flex-row">
            <div
              v-for="day in weatherResponse.forecast.forecastday"
              class="bg-black rounded-lg backdrop-blur-lg backdrop-opacity-20 p-2 bg-opacity-10 flex flex-col m-2 items-center"
            >
              <p>{{days[new Date(day.date).getDay()]}}</p>
              <div class="flex flex-row items-start">
                <p class="text-7xl font-medium">
                  {{Math.round(day.day.maxtemp_c)}}
                </p>
                <p class="text-4xl font-bold">o</p>
              </div>
              <div class="flex flex-col justify-center items-center">
                <img class="" :src="day.day.condition.icon" alt="" />
                <p class="font-medium max-char-10 text-center">
                  {{day.day.condition.text}}
                </p>
              </div>
            </div>
          </div>

          <!-- forcast -->
        </div>
      </div>
      <div
        class="col-span-2 h-screen backdrop-blur-lg backdrop-opacity-100 flex flex-col items-center justify-center"
      >
        <div>
          <ul
            class="font-medium bg-black pl-6 py-5 pr-40 rounded-lg bg-opacity-10"
          >
            <li v-for="city in cities" class="" @click="searchForWeather(city)">
              <button>{{city}}</button>
            </li>
          </ul>

          <ul class="font-semibold border-t-2 mt-4">
            <li><h2>Weather Details</h2></li>
            <li class="flex flex-row justify-between">
              <h3>Cloudy</h3>
              <p>{{weatherResponse.current.cloud}}%</p>
            </li>
            <li class="flex flex-row justify-between">
              <h3>Humidity</h3>
              <p>{{weatherResponse.current.humidity}}%</p>
            </li>
            <li class="flex flex-row justify-between">
              <h3>Wind</h3>
              <p>{{weatherResponse.current.wind_kph}}kp/h</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="/Project Charlo/js/Weather.js"></script>
  </body>
</html>
